
<div class="bottom">
  <h6><strong>Tweeter Clone</strong></h6>
  <p>by Nandrianina</p>
  <nav>
     <ul>
       <li><%=link_to "Contact us","#" %></li>
       <li><%=link_to "Privacy policy","#" %></li>
       <li><%=link_to "Terms of use","#" %></li>
   </ul>
      <small>www.tweeter.jp</small>
 </nav>
</div>
